.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  cursor: pointer;
}

.navbar-logo {
  font-size: 22px;
}

.logout-button {
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
}
